/* Metropolis Black */
@font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
  }
  
  /* Metropolis Bold */
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
  }
  
  /* Metropolis ExtraBold */
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
  }
  
  /* Metropolis ExtraLight */
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
  }
  
  /* Metropolis Light */
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
  }
  
  /* Metropolis Medium */
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
  }
  
  /* Metropolis Regular */
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
  }
  
  /* Metropolis SemiBold */
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
  }
  
  /* Metropolis Thin */
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'metropolis';
	src: url('metropolis/Metropolis-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
  }