{{ define "saved.html" }}
<div class="content saved">
	<title>Peargram | Saved</title>
	<div class="main">
		<div class="title">
			Saved posts
		</div>
		<div class="hDivider"></div>
		<div class="posts">
			<div class="noPosts">No posts yet</div>
			{{ range $i, $Row := orderedPosts .SavedPosts}}
				<div class="row">
					{{range $j, $Post := $Row}}
						<div class="post {{ if isEmpty $Post.Content }}empty{{ else }} EmbeddedLoad {{ end }}" target="post" detail="{{ $Post.ID }}">
							<div class="stats">
								<div class="likes"><i class="ti ti-heart-filled"></i>{{ $Post.Likes }}</div>
								<div class="comments"><i class="ti ti-message-circle-2-filled"></i>{{ $Post.Comments }}</div>
							</div>
							<img src="data:image/png;base64,{{ renderImage $Post.Content }}"/>
						</div>
					{{ end }}
				</div>
			{{end}}
		</div>
	</div>
</div>
{{ end }}