{{ define "search.html" }}
<div class="content search">
	<title>Peargram | Search</title>
	<div class="main">
		<div class="title">
			Search
		</div>
		<div class="bar">
			<input type="text" placeholder="Search..." id="SearchField"><div class="searchButton" id="SearchButton"><i class="ti ti-search"></i></div>
		</div>
		<div class="hDivider"></div>
		<div class="results">
			<div class="infoResults show">Your results will appear here.</div>
			<div class="noResults">No results found.</div>
		</div>
	</div>
</div>
{{ end }}