<div class="uploadModal stage0" style="display:none;">
	<div class="header">
		<div class="button"><i class="ti ti-arrow-narrow-left"></i></div>
		<div class="title">Create new post</div>
		<div class="button next">Next</div>
		<div class="button post">Post</div>
	</div>
	<div class="main">
		<div class="leftSide">
			<div class="stage0">
				<i class="ti ti-photo-video"></i>
				<div class="text">Drag photos and videos here</div>
				<div class="button">Select from computer</div>
			</div>
			<div class="stage1" style="background-image:url(/assets/media/images/uploadModalPlaceholder.jpg)"></div>
			<div class="stage2" style="background-image:url(/assets/media/images/uploadModalPlaceholder.jpg)"></div>
		</div>
		<div class="rightSide">
			<div class="stage0"></div>
			<div class="stage1 filters">
				<div class="header">
					<div class="option">Filters</div>
					<div class="option">Adjustments</div>
				</div>
				<div class="content">
					<div class="filters">
						<div class="filterRow">
							<div class="filter active">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Aden</div>
							</div>
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Claredon</div>
							</div>
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Crema</div>
							</div>
						</div>
						<div class="filterRow">
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Gingham</div>
							</div>
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Juno</div>
							</div>
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Lark</div>
							</div>
						</div>
						<div class="filterRow">
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Ludwig</div>
							</div>
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Moon</div>
							</div>
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Original</div>
							</div>
						</div>
						<div class="filterRow">
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Perpetua</div>
							</div>
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Reyes</div>
							</div>
							<div class="filter">
								<div class="image" style="background-image:url(/assets/media/images/uploadModalFilter.jpg)"></div>
								<div class="name">Slumber</div>
							</div>
						</div>
					</div>
					<div class="adjustments">
						<div class="adjustment">
							<div class="header">
								<div class="name">Brightness</div>
								<div class="resetButton">Reset</div>
							</div>
							<div class="action">
								<input type="range" name="" id="">
								<div class="value">0</div>
							</div>
						</div>
						<div class="adjustment changed">
							<div class="header">
								<div class="name">Contrast</div>
								<div class="resetButton">Reset</div>
							</div>
							<div class="action">
								<input type="range" name="" id="">
								<div class="value">54</div>
							</div>
						</div>
						<div class="adjustment">
							<div class="header">
								<div class="name">Fade</div>
								<div class="resetButton">Reset</div>
							</div>
							<div class="action">
								<input type="range" name="" id="">
								<div class="value">0</div>
							</div>
						</div>
						<div class="adjustment">
							<div class="header">
								<div class="name">Saturation</div>
								<div class="resetButton">Reset</div>
							</div>
							<div class="action">
								<input type="range" name="" id="">
								<div class="value">0</div>
							</div>
						</div>
						<div class="adjustment">
							<div class="header">
								<div class="name">Temperature</div>
								<div class="resetButton">Reset</div>
							</div>
							<div class="action">
								<input type="range" name="" id="">
								<div class="value">0</div>
							</div>
						</div>
						<div class="adjustment">
							<div class="header">
								<div class="name">Vignette</div>
								<div class="resetButton">Reset</div>
							</div>
							<div class="action">
								<input type="range" name="" id="">
								<div class="value">0</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="stage2">
				<div class="header">
					<div class="avatar" style="background-image:url(/api/users/getAvatar/CURRENT_USER)"></div>
					<div class="username">CURRENT_USER</div>
				</div>
				<textarea name="" id="" cols="30" rows="10" placeholder="Write a caption..."></textarea>
				<div class="textUtils">
					<div class="button"><i class="ti ti-mood-smile"></i></div>
					<div class="info">0/2.000</div>
				</div>
			</div>
		</div>
	</div>
</div>